body {
  font-family: Arial, sans-serif;
  background: #c4d9ee;
  margin: 0;
  text-align: center;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: rgb(220, 141, 141);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  text-align: center;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  text-align: center;
}

button {
  padding: 8px 15px;
  background: #ea64cf;
  color: white;
  border: none;
  cursor: pointer;
}

nav {
  background: #dd95ec;
  color: rgb(195, 26, 242);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}

section {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 8px;
  margin-top: 5px;
}
